<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<header th:if="${login!=null}" th:include="successLogin"/>
<main>
    <hr>
    <hr>
    <form th:action="@{/balloons}" th:method="GET">
        <label>Filter by country of manufacturer:</label>
        <select name="manufacturerCountry" class="form-control">
            <option value="AllCountries">All Countries</option>
            <option
                    th:each="man : ${manufacturers}"
                    th:value="${man.getCountry()}"
                    th:text="${man.getCountry()}">
            </option>
        </select>
        <label>Filter by name of manufacturer:</label>
        <select name="manufacturerName" class="form-control">
            <option value="AllNames">All Names</option>
            <option
                    th:each="man : ${manufacturers}"
                    th:value="${man.getName()}"
                    th:text="${man.getName()}"
            >
            </option>
        </select>

        <button type="submit" class="btn btn-lg">Filter</button>
    </form>
    <hr>
    <hr>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}"
       class="btn btn-sm btn-info"><i class="fa fa-trash">Login</i></a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/register'}"
       class="btn btn-sm btn-info"><i class="fa fa-trash">Register here</i></a>
    <form sec:authorize="isAuthenticated()" th:action="@{'/logout'}" th:method="GET">
        <button type="submit">Logout</button>
    </form>
    <h2>Choose balloon color:</h2>
    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">ID</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="balloon : ${balloons}">
            <td th:text="${balloon.getName()}"></td>
            <td th:text="${balloon.getDescription()}"></td>
            <td th:text="${balloon.getManufacturer() != null}
                            ? ${balloon.getManufacturer().getName()} : 'No Manufacturer'"></td>
            <td th:text="${balloon.getId()}"></td>
            <td>
                <form sec:authorize="isAuthenticated()" th:method="POST" th:action="@{/balloons}">
                    <button name="color" th:value="${balloon.getName()}" type="submit"
                            class="btn btn-success">Order
                    </button>
                </form>
            </td>
            <td>
                <form sec:authorize="hasRole('ROLE_ADMIN')"
                      th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}" th:method="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}"
                   class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
            </td>
            <!--                        <td class="text-right">-->
            <!--                            <form th:action="@{'/products/delete/{id}' (id=${product.getId()})}" th:method="DELETE">-->
            <!--                                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>-->
            <!--                            </form>-->
            <!--                            <a th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>-->
            <!--                        </td>-->
        </tr>
        </tbody>
    </table>
    <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/balloons/add-form'}" th:method="GET">
        <button type="submit">Add new balloon</button>
    </form>
    <hr>
    <hr>
    <div th:if="${hasError}">
        <p style="color: red">Balloon does not exist !</p>
    </div>
</main>
</body>
</html>